<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/0f49fc2a1e.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>Hello, world!</title>
    </head>
    <body>

       <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height: 100px; background-image:url(imagenes/images.jpg)">
          
           
            <a class="navbar-brand" href="#">System 21 insc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home<span class="sr-only">(current)</span></a>
                    </li>
                     
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/subjectList}">Subjects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/inscription}" >Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Controlador?menu=estadisticas" target="miContenedor">Estadisticas</a>
                    </li>
                </ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         [[${#httpServletRequest.remoteUser}]]
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i></a>
                        
                        <div class="dropdown-divider"></div>
                        <form class="dropdown-item" th:action="@{/logout}" method="POST" >
                            <button class="btn btn-danger center-block" type="submit" name="accion" >Cerrar Sesion</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>



       <h1> tamo activo </h1>
       <div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
	<div th:each="insc: ${inscription}"> <h1 th:text="${insc.className}" ></h1>
	</div>
		
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Student DNI</th>
			<th scope="col">Srudent Name</th>
			<th scope="col">Class Name</th>
			
			
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="insc: ${inscription}">
			<td th:text="${insc.id}"></td>
			<td th:text="${insc.studentDni}"></td>
			<td th:text="${insc.studentName}"></td>
			<td th:text="${insc.className}"></td>
			<td><i class="fas fa-check-circle"></i></td>
			
				<!--	<a href="#" th:href="@{'/admin/editSubject/'+ ${subject.id}}"><i class="fas fa-edit"></i></a>
					  <a href="#" th:href="@{'/admin/deleteSubject/'+ ${subject.id}}" ><i class="fas fa-user-times"></i></a>
			</td>-->
		</tr>
		</tbody>
	</table>
	  
	<h1>  <a th:href="@{/user/subjectList}"> Back</a></h1>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>