<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>System 21</title>
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height: 100px; background-image:url(imagenes/images.jpg)">
          
           
            <a class="navbar-brand" href="#">System 21</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home<span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/userForm}" >user</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/list}">Subjects</a>
                    </li>
                    
                    <li class="nav-item">
                          <a class="nav-link" th:href="@{/admin/teacherlist}">Teachers</a>
                    </li>
                </ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         [[${#httpServletRequest.remoteUser}]]
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-user"></i></a>
                        
                        <div class="dropdown-divider"></div>
                        <form class="dropdown-item" th:action="@{/logout}" method="POST" >
                            <button class="btn btn-danger center-block" type="submit" name="accion" >Cerrar Sesion</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <h1>User List</h1>
        
<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">First</th>
			<th scope="col">Last</th>
			<th scope="col">Username</th>
			<th scope="col">dni</th>
			
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${userList}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.surname}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.dni}"></td>
			
			<td>
					<a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
					| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

   <h1>User Form</h1>
<form id="userForm" th:object="${userForm}" method="post" class="form" role="form" style="width: 600px;">
	<input class="form-control" type="hidden" th:field="${userForm.id}">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">First name</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.name}">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Last
			name</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.surname}">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">dni</label>
		<div class="col-lg-9">
			<input class="form-control" type="email" th:field="${userForm.dni}">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Username</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.username}">
		</div>
	</div>
	<!--<div class="form-group row">
	<!-	<label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
	<!-	<div class="col-lg-9">
		<!-	<select th:field="${userForm.roles}" class="form-control" size="3">
		<!-		<option th:each="role :${roles}" th:value="${role.id}" th:text="${role.name}">
		<!-		</option>
		<!-	</select>
	<!-	</div>  
	<!-</div>-->
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${userForm.password}">
		</div>
	</div>
	
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<input type="reset" class="btn btn-secondary" value="Cancel">
			<input type="button" class="btn btn-primary"
				value="Save Changes">
		</div>
	</div>
</form>
        <!-- <div class="m-3" style="height:900px;">
            <iframe name="miContenedor" style="height:100%; width:100%;" frameBorder="1"></iframe>
        </div>--!>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>